* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #f4f0ec; */
}
/* * {
  outline: 1px solid red;
} */

::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
