body {
  margin: 0;
}

#__next {
  background: blue;
  position: absolute;
  inset: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {
  outline: 1px solid red;
} */

/* ::-webkit-scrollbar {
  display: none;
} */
